name: Auto Tag Version

on:
  push:
    branches:
      - main
    paths:
      - "charts/**"

permissions:
  contents: write
  actions: write

jobs:
  tag:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          persist-credentials: true

      - name: Bump version based on commit messages (SemVer)
        id: tagger
        uses: mathieudutour/github-tag-action@v6.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          default_bump: patch

      - name: Push new tag
        run: |
          echo "New version: ${{ steps.tagger.outputs.new_tag }}"
