name: Release Helm Chart

on:
  push:
    tags:
      - "v*.*.*" # Semantic versioning tags

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.14.0

      - name: Extract version from tag
        id: vars
        run: echo "version=${GITHUB_REF#refs/tags/}" >> $GITHUB_OUTPUT

      - name: Update Chart version
        run: |
          yq eval ".version=\"${{ steps.vars.outputs.version }}\"" -i charts/fritzbox-cloudflare-dyndns-chart/Chart.yaml

      - name: Package Chart
        run: |
          mkdir -p repo
          helm package charts/fritzbox-cloudflare-dyndns-chart -d repo

      - name: Generate index.yaml
        run: |
          helm repo index repo --url https://$GITHUB_REPOSITORY_OWNER.github.io/$GITHUB_REPOSITORY/

      - name: Publish to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: repo
