name: Release Helm Chart

on:
  workflow_run:
    workflows: ["Auto Tag Version"]
    types:
      - completed

permissions:
  contents: write

jobs:
  release-chart:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Setup Helm
        uses: azure/setup-helm@v3
        with:
          version: v3.14.0

      - name: Extract version from latest tag
        id: vars
        run: |
          echo "VERSION=$(git describe --tags --abbrev=0)" >> $GITHUB_ENV

      - name: Update Helm Chart version
        run: |
          yq eval ".version=\"${VERSION}\"" -i charts/fritzbox-cloudflare-dyndns-chart/Chart.yaml

      - name: Package Helm Chart
        run: |
          helm package charts/fritzbox-cloudflare-dyndns-chart --version ${VERSION#v}

      # - name: Generate index.yaml
      #   run: |
      #     helm repo index repo --url https://$GITHUB_REPOSITORY_OWNER.github.io/$GITHUB_REPOSITORY/

      - name: Publish Helm chart to GitHub Pages repo
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_branch: gh-pages
          publish_dir: .
          keep_files: true
